{% extends "base.html" %}

{% block content %}
	<div class="alert alert-success alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">Success! Order #{{ order.id }} Created!</h4>
        <p>Your booking details are below.</p>
    </div>

    <ul class="list-group mb-4 shadow-sm bg-white">
        <li class="list-group-item"><strong>Customer:</strong> {{ order.customer }}</li>
        <li class="list-group-item"><strong>Room:</strong> {{ order.room }}</li>
        <li class="list-group-item"><strong>Time range:</strong> {{ order.start_time }} to {{ order.end_time }}</li>
    </ul>

	<a href="{% url 'home-page' %}" class="btn btn-link">← Back to home page</a>
{% endblock %}