{% extends "base.html" %}
{% load i18n %} {% block content %}

<h1 class="mb-4">{% translate "All Rooms Available" %}</h1>

{% for data in rooms_data %}
    <div class="card mb-3 shadow-sm">
        <div class="card-body">
            <h5 class="card-title">{% translate "Room" %} #{{ data.room.number }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
                {% translate "Price" %}: ${{ data.room.price }} / {% translate "night" %}
            </h6>

            {% if data.is_booked %}
            <p class="text-danger font-weight-bold">
                <i class="fa fa-exclamation-triangle"></i> {% translate "Booked (for now)" %}
            </p>
            <a href="{% url 'room-detail' data.room.id %}" class="btn btn-outline-danger btn-sm">
                {% translate "Details / Order this room for future" %}
            </a>
            {% else %}
            <a href="{% url 'room-detail' data.room.id %}" class="btn btn-dark btn-sm">
                {% translate "Details / Order this room" %}
            </a>
            {% endif %}
        </div>
    </div>
{% empty %}
    <div class="alert alert-info" role="alert">
        {% translate "There are currently no available rooms" %}.
    </div>
{% endfor %}

{% endblock %}